Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-identifier-naming
WarningsAsErrors: '*'
HeaderFilterRegex: '^(Engine|Apps|Plugins|Tests)/'
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.ConstexprVariableCase: CamelCase
  readability-identifier-naming.ConstexprVariablePrefix: k
